.command-list {
  padding-top: 3.4rem;
  padding-bottom: 3.4rem;
  background: var(--blue);
  min-height: 50vh;
}
.command-list .command-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.command-list h1,
.command-list h2 {
  font-size: 1.7rem;
  color: #e5e9ed;
  margin-bottom: 2rem;
}
.command-list label {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #e5e9ed;
}
.command-list input {
  margin-top: 1rem;
  width: 80%;
  padding: 0.5rem;
  background: var(--blue);
  color: #e5e9ed;
  font-size: 1.3rem;
  display: block;
}
.command-list button {
  background: #c4c4c4;
  padding: 0.5rem 0;
  width: 10rem;
  margin-top: 1rem;
  margin-right: 2rem;
  font-weight: bold;
  color: var(--blue);
  cursor: pointer;
  border: 0.1rem solid #c4c4c4;
}
.command-list button:hover {
  color: #fff;
  background: var(--blue);
  border: 0.1rem solid #fff;
}

.command-list .controll-buttons {
  display: flex;
  flex-direction: column;
}
.command-list .controll-buttons .confirm-delete span {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 30%;
  margin-top: 1rem;
}
.command-list .controll-buttons .confirm-delete .confirm-yes {
  background: var(--blue);
}
.command-list .controll-buttons .confirm-delete .confirm-yes {
  color: #fff;
  opacity: 0.8;
}
.command-list .controll-buttons .confirm-delete .confirm-yes:hover {
  color: #fff;
  opacity: 1;
}
.command-list .controll-buttons .confirm-cancel {
  background: tomato;
  border: 0.1rem solid tomato;
  color: #fff;
}
.command-list .controll-buttons .confirm-cancel:hover {
  background: var(--blue);
  border: 0.1rem solid #fff;
  color: #fff;
}

@media (min-width: 768px) {
  .command-list h1 {
    font-size: 2rem;
  }
  .command-list label {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  .command-list input {
    margin-top: 1rem;
    width: 30%;
    padding: 0.5rem;
    font-size: 1.3rem;
    display: block;
  }
  .command-list button {
    padding: 0.8rem 0;
  }
  .command-list .controll-buttons {
    display: flex;
    flex-direction: row;
  }
  .command-list .controll-buttons .confirm-delete span {
    display: inline;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0;
    margin-right: 1rem;
  }
}
