.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 4.8rem;
  border-bottom: 0.1rem solid #428dff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #d1d8e0;
}
.header .logo {
  color: #4b6584;
  font-size: 1.9rem;
  margin-bottom: -0.3rem;
  font-weight: bold;
}
.header .logo span {
  display: inline-block;
  color: #000;
  margin-left: 0.5rem;
  transform: translateY(-10%);
}
/* logo cursor animation starts */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-end 0s infinite;
}
/* logo cursor animation ends */
.nav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: none;
  text-align: center;
}
.nav.active {
  display: flex;
}
.menu-button button {
  background: none;
}
.nav .logo-white {
  color: #fff;
  width: 100vw;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 9%;
}
.right {
  background: #202b38;
  width: 70vw;
}
.left {
  background: rgba(32, 43, 56, 0.83);
  width: 30vw;
}
.nav a {
  display: block;
  color: #fff;
  background: #28323f;
  margin: 0.1rem 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6;
}
