.info {
  background: var(--blue);
  padding: 0;
}
.info h1 {
  background: #e3e7f2;
  border-top: var(--border);
}
.info .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.3rem 0;
}
.info .content p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d1d8e0;
  text-align: center;
  margin: 1.2rem;
}

@media (min-width: 768px) {
  .info .content {
    width: 40%;
    margin: 0 auto;
  }
.info h1 {
  font-size: 1.5rem;
}
  .info .content p {
    font-size: 1.5rem;
  }
}
