.info {
  background: var(--blue);
  position: relative;
}
.info h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #e3e7f2;
  border-top: var(--border);
}
.info .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3.4rem;
  padding-bottom: 1.3rem;
}
.info .content p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d1d8e0;
  text-align: center;
  margin: 1.2rem;
}
