.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f1c40f;
  padding: 1rem;
  margin: 0;

}

@media (min-width: 768px) {
  .container {
    font-size: 1.5rem;
    padding: 2rem;
    margin: 1.5rem 0;
  }
}
