.welcome-signup {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background: #ecf0f1;
  margin: 0 auto;
  padding: 1rem;
  /* color: var(--blue); */
  border-top: var(--border);
  border-bottom: var(--border);
}
.welcome-signup h1 {
  font-size: 1.5rem;
}
.welcome-signup p {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .welcome-signup {
    /* width: 25%; */
  }
  .welcome-signup h1 {
    font-size: 1.7rem;
  }
  .welcome-signup p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
