.loginForm {
  margin-top: 5.3rem;
  padding: 0;
}
.loginForm .heading {
  border-top: var(--border);
  font-size: 1.3rem;
}
.loginForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.7rem 0;
}
.loginForm form input::placeholder {
  color: #778ca3;
  opacity: 1;
  font-size: 1.3rem;
  font-weight: bold;
}
.loginForm form input,
.loginForm form button {
  background: #a5b1c2;
  color: var(--black);
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  width: 50%;
}
.loginForm form button {
  font-weight: bold;
  cursor: pointer;
}
.loginForm form button:hover {
  background: var(--blue);
  color: #fff;
}
.loginForm form a {
  color: var(--blue);
  font-size: 1.2rem;
}
.loginForm form a:hover {
  border-bottom: var(--border);
}

@media (min-width: 768px) {
  .loginForm .heading {
    font-size: 1.5rem;
  }
  .loginForm form input,
  .loginForm form button {
    background: #a5b1c2;
    width: 30%;
    font-size: 1.5rem;
    padding: 1.2rem;
  }
  .loginForm form a {
    font-size: 1.5rem;
  }
}
