.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 4.8rem;
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header .logo {
  color: #4b6584;
  font-size: 1.9rem;
  margin-bottom: -0.3rem;
  font-weight: bold;
  cursor: pointer;
}
.header .logo span {
  display: inline-block;
  color: #000;
  margin-left: 0.5rem;
  transform: translateY(-10%);
}
.app {
  position: relative;
}
.header .nav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 9999;
  display: none;
  text-align: center;
}
.nav.active {
  display: flex;
}
.nav.active html {
  overflow: hidden;
}
.menu-button button {
  background: none;
}
.nav .logo-white {
  color: #fff;
  width: 100vw;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 9%;
}
.right {
  background: #202b38;
  width: 70vw;
}
.left {
  background: rgba(32, 43, 56, 0.83);
  width: 30vw;
}
.nav a {
  display: block;
  color: #fff;
  background: #28323f;
  margin: 0.1rem 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6;
}
.nav .logout {
  color: tomato;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .menu-button {
    display: none;
  }
  .header .logo {
    font-size: 2.5rem;
  }
  .header .nav {
    display: flex;
    position: initial;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    background: none;
  }
  .header .nav a {
    display: inline;
    background: none;
    color: #202b38;
    font-size: 1.6rem;
    line-height: 2;
    padding: 0;
    margin-left: 2rem;
  }
  .header .nav .logout {
    color: #e74c3c;
  }
  .header .nav a:hover {
    border-bottom: var(--border);
  }
  .right {
    background: none;
    width: inherit;
  }
  .header .nav .left {
    display: none;
  }
  .top {
    display: none;
  }
}
