@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
:root {
  --black: #202b38;
  --border: 0.1rem solid #428dff;
  --blue: #4b7bec;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  transition: all linear 0.2s;
  text-decoration: none;
  outline: none;
  border: none;
}
section,
header,
footer {
  padding: 0 9%;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #d1d8e0;
  min-height: 100vh;
}
h1 {
  font-size: 1.2rem;
  line-height: 2;
  color: var(--black);
}
.heading {
  text-align: center;
  background: #e3e7f2;
}
